@tailwind base;
@tailwind components;
@tailwind utilities;

@import "compass/css3";

:root {
  /* colors */
  --light: #ffffff;
  --white: #fafafa;
  --dark: #333333;
  --darken: #1a1a1a;
  --gray: #cacbce;
  --primary: #ef5644;
  --primary-dark: #dd3e2b;
  --secondary: #53d690;
  --dangrous: #f70000f3;
  --warning: #f1ce2f;
  --info: #006fca;

  /* varibles */
  --radius: 25px;
}

.sn-container {
  @apply container mx-auto px-5 py-4;
}
.sn-box {
  border-radius: var(--radius);
  box-shadow: 1px 0px 2px rgb(0 0 0 / 24%);
}
.sn-box-header {
  @apply flex flex-row justify-between p-4 items-center border-b-2;
  color: var(--dark);
}

.sn-line {
  @apply w-full border-b-2 my-4;
}



/* background */
.sn-bg-primary {
  background-color: var(--primary);
}
.sn-bg-secondary {
  background-color: var(--secondary);
}
.sn-bg-gray {
  background-color: var(--gray);
}
.sn-bg-white {
  background-color: var(--white);
}
.sn-bg-light {
  background-color: var(--light);
}
.sn-bg-dark {
  background-color: var(--dark);
}
.sn-bg-darken {
  background-color: var(--darken);
}
/*  text-colores */
.sn-text-primary {
  color: var(--primary);
}
.sn-text-white {
  color: var(--white);
}
.sn-text-gray {
  color: var(--gray);
}
.sn-text-dark {
  color: var(--dark);
}
/* border */

.sn-nav-border-l {
  border-left: solid 1px var(--primary-dark);
}
.sn-nav-border-r {
  border-right: solid 1px var(--primary-dark);
}

.sn-border-radius {
  border-radius: var(--radius);
}
.sn-border-l-none {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.sn-border-r-none {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.sn-border-primary{
  border-color: var(--primary);
}

/* onhover */
.hover\:sn-text-white:hover {
  color: var(--white);
}
.dark .dark\:sn-bg-dark {
  background-color: #111827;
}
.dark .dark\:sn-text-white {
  color: #e7e8f2;
}

/*  buttons */
.sn-btn-white {
  @apply py-1 px-2 focus-within:border-transparent focus:outline-none;
  background-color: var(--white);
  color: var(--darken);
  border-radius: var(--radius);
}
.sn-btn-primary {
  @apply py-1 px-2 focus-within:border-transparent focus:outline-none;
  background-color: var(--primary);
  color: var(--white);
  border-radius: var(--radius);
}
.sn-btn-xl{
  padding: .75rem !important;
}
.sn-btn-gray {
  @apply py-1 px-2 focus-within:border-transparent focus:outline-none;
  background-color: var(--gray);
  color: var(--white);
  border-radius: var(--radius);
}

.sn-footer-app-btn {
  @apply py-1 px-2 focus-within:border-transparent focus:outline-none  w-64 md:w-72 h-12  my-2 flex  items-center justify-center md:justify-start;
  background-color: var(--white);
  color: var(--darken);
  border-radius: var(--radius);
}
.sn-footer-app-btn:hover {
  color: var(--primary);
}


/* dorpDown */
.sn_menu{
  @apply origin-top-right absolute right-0 mt-2 w-56 shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none;
  z-index: 999;
  border-radius: var(--radius);
}
.sn_menu_item{
  @apply text-gray-700 block px-4 py-2 text-sm break-words;
}


